<h2 class="mb-5">Mis Contactos</h2>

<div class="text-end">
  <button class="btn btn-primary" routerLink="/new-contact">
    Nuevo Contacto
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>NOMBRE(S)</th>
      <th>APELLIDO(S)</th>
      <th>ALIAS</th>
      <th>TELEFONO</th>
      <th>EMAIL</th>
      <th>FECHA DE REGISTRO</th>
      <th>DIRECCION</th>
      <th>FOTO</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (contact of contacts; track contact.contact_id) {
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.sur_name }}</td>
        <td>{{ contact.alias }}</td>
        <td>{{ contact.phone_number }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.date | date:'dd/MM/yyyy hh:mm a' }}</td>
        <td>{{ contact.address }}</td>
        <td>{{ contact.photo }}</td>
        <td class="text-end">
          <div class="btn btn-group">
            <button class="btn btn-primary" [routerLink]="[contact.contact_id, 'edit']">
              Editar
            </button>
            <button class="btn btn-danger" (click)="deleteContact(contact)">
              Elimiar
            </button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
