<h2 class="mb-5">
  @if (contact) {
    Editar
  } @else {
    Nuevo
  } Contacto
</h2>

<div class="row row-cols-3 justify-content-center">
  @if (form) {

    <form [formGroup]="form" (ngSubmit)="save()">

      <!-- Entrada de los nombres -->
      <div class="mb-3">
        <label for="name">Nombre(s)</label>
        <input
          id="name"
          type="text"
          placeholder="Nombre(s) del Contacto..."
          class="form-control"
          formControlName="name"
          />
        </div>

        @if (form.get('name')?.hasError('required')) {
          <p class="invalid-feedback d-block">Nombre(s) del contacto es requerido...</p>
        }

        <!-- Entrada de los apellidos -->
        <div class="mb-3">
          <label for="surname">Apellido(s)</label>
          <input
          id="surname"
          type="text"
          placeholder="Apellidos(s) del Contacto..."
          class="form-control"
          formControlName="sur_name"
        />
      </div>

      @if (form.get('sur_name')?.hasError('required')) {
        <p class="invalid-feedback d-block">Apellido(s) del contacto es requerido...</p>
      }

      <!-- Entrada del alias -->
      <div class="mb-3">
        <label for="alias">Alias</label>
        <input
          id="alias"
          type="text"
          placeholder="Alias del Contacto..."
          class="form-control"
          formControlName="alias"
        />
      </div>

      <!-- Entrada del teléfono -->
      <div class="mb-3">
        <label for="phone">Teléfono</label>
        <input
          id="phone"
          type="text"
          placeholder="Teléfono del Contacto..."
          class="form-control"
          formControlName="phone_number"
        />
      </div>

      @if (form.get('phone_number')?.hasError('required')) {
        <p class="invalid-feedback d-block">Teléfono del contacto es requerido...</p>
      }

      <!-- Entrada del email -->
      <div class="mb-3">
        <label for="email">Correo Electrónico</label>
        <input
          id="email"
          type="text"
          placeholder="Correo Electrónico del Contacto..."
          class="form-control"
          formControlName="email"
        />
      </div>

      @if (form.get('email')?.hasError('required')) {
        <p class="invalid-feedback d-block">Correo electrónico del contacto es requerido...</p>
      }

      @if (form.get('email')?.hasError('email')) {
        <p class="invalid-feedback d-block">El correo electrónico es invalido, no cumple con formato...</p>
      }

      <!-- Entrada de la dirección -->
      <div class="mb-3">
        <label for="address">Dirección</label>
        <input
          id="address"
          type="text"
          placeholder="Dirección del Contacto..."
          class="form-control"
          formControlName="address"
        />
      </div>

      <!-- Entrada de la dirección -->
      <div class="mb-3">
        <label for="photo">Fotografía</label>
        <input
          id="photo"
          type="file"
          placeholder="Fotografía del Contacto..."
          class="form-control"
          formControlName="photo"
        />
      </div>

      <div class="text-end">
        <button type="button" class="btn btnlight" routerLink="/">
          Cancelar
        </button>

        <button class="btn btn-primary ms2">
          @if (this.contact) {
            Actualizar
          } @else {
            Crear
          } Contacto
        </button>
      </div>
    </form>
  }
</div>
